extends templates/_template.pug

block content
	.mb-5



	.container.mb-5
		.navbar.navbar-expand-sm.bsnav.mb-3
			h5 Basic style

			button.navbar-toggler.toggler-spring
				span.navbar-toggler-icon


			.collapse.navbar-collapse.justify-content-sm-end
				ul.navbar-nav.navbar-mobile.mr-0
					li.nav-item
						a.nav-link(href="#") Home
					li.nav-item
						a.nav-link(href="#") About Us
					li.nav-item
						a.nav-link(href="#") News
					li.nav-item.active
						a.nav-link(href="#") Active item
					li.nav-item
						a.nav-link(href="#") Contact
			

		.pb-5
			script(src="https://gitlab.com/snippets/1719710.js")




	.container.mb-5
		.navbar.navbar-expand-sm.bsnav
			h5 Fill

			button.navbar-toggler.toggler-spring
				span.navbar-toggler-icon


			.collapse.navbar-collapse.justify-content-sm-end
				ul.navbar-nav.navbar-mobile.mr-0
					li.nav-item.nav-item-fill
						a.nav-link(href="#") Home
					li.nav-item.nav-item-fill
						a.nav-link(href="#") About Us
					li.nav-item.nav-item-fill
						a.nav-link(href="#") News
					li.nav-item.nav-item-fill.active
						a.nav-link(href="#") Active item
					li.nav-item.nav-item-fill
						a.nav-link(href="#") Contact


		.pb-5
			script(src="https://gitlab.com/snippets/1719712.js")




	.container.mb-5
		.navbar.navbar-expand-sm.bsnav
			h5 Line

			button.navbar-toggler.toggler-spring
				span.navbar-toggler-icon


			.collapse.navbar-collapse.justify-content-sm-end
				ul.navbar-nav.navbar-mobile.mr-0
					li.nav-item.nav-item-line
						a.nav-link(href="#") Home
					li.nav-item.nav-item-line
						a.nav-link(href="#") About Us
					li.nav-item.nav-item-line
						a.nav-link(href="#") News
					li.nav-item.nav-item-line.active
						a.nav-link(href="#") Active item
					li.nav-item.nav-item-line
						a.nav-link(href="#") Contact


		.pb-5
			script(src="https://gitlab.com/snippets/1719713.js")





	.container.mb-5
		.navbar.navbar-expand-sm.bsnav
			h5 Double line

			button.navbar-toggler.toggler-spring
				span.navbar-toggler-icon


			.collapse.navbar-collapse.justify-content-sm-end
				ul.navbar-nav.navbar-mobile.mr-0
					li.nav-item.nav-item-double-line
						a.nav-link(href="#") Home
					li.nav-item.nav-item-double-line
						a.nav-link(href="#") About Us
					li.nav-item.nav-item-double-line
						a.nav-link(href="#") News
					li.nav-item.nav-item-double-line.active
						a.nav-link(href="#") Active item
					li.nav-item.nav-item-double-line
						a.nav-link(href="#") Contact


		.pb-5
			script(src="https://gitlab.com/snippets/1719714.js")

	



	.container.mb-5
		.navbar.navbar-expand-sm.bsnav
			h5 Outline

			button.navbar-toggler.toggler-spring
				span.navbar-toggler-icon


			.collapse.navbar-collapse.justify-content-sm-end
				ul.navbar-nav.navbar-mobile.mr-0
					li.nav-item.nav-item-outline
						a.nav-link(href="#") Home
					li.nav-item.nav-item-outline
						a.nav-link(href="#") About Us
					li.nav-item.nav-item-outline
						a.nav-link(href="#") News
					li.nav-item.nav-item-outline.active
						a.nav-link(href="#") Active item
					li.nav-item.nav-item-outline
						a.nav-link(href="#") Contact


		.pb-5
			script(src="https://gitlab.com/snippets/1719715.js")






	.bsnav-mobile
		.bsnav-mobile-overlay
		.navbar


	style.
		.jumbotron{
			background: url('https://picsum.photos/1400/700?random') no-repeat center top / cover;
			color: #fff;
			height: 600px;
			display: flex;
			align-items: center;
		}