extends templates/_template-frontpage.pug

block content
	.hero.jumbotron.jumbotron-fluid
		.container.text-center
			h1.logo bsnav
			p.lead Extended Bootstrap 4 navbar
			.row
				.col-sm-3.offset-3.text-right
					a.btn.btn-light.btn-outline.btn-cons(href="#") DOWNLOAD
				.col-sm-3.text-left
					a.btn.btn-light.btn-outline.btn-cons(href="https://github.com/fitodac/bsnav") GITHUB






	//- ********************************************************************************
	//- STYLES
	//- ********************************************************************************
	.h3.text-center.mb-5 Styles

	.container
		.row.pb-3
			.col-sm-3
				a.tmb(href="navbar-right.html" target="_blank")
					img(src="images/basic.svg")
					span Basic

			.col-sm-3
				a.tmb(href="navbar-dark.html" target="_blank")
					img(src="images/dark.svg")
					span Dark

			.col-sm-3
				a.tmb(href="navbar-transparent.html" target="_blank")
					img(src="images/transparent.svg")
					span Transparent

			.col-sm-3
				a.tmb(href="navbar-light.html" target="_blank")
					img(src="images/light.svg")
					span Light
		
		.row
			.col-sm-3
				a.tmb(href="navbar-overlay.html" target="_blank")
					img(src="images/transparent.svg")
					span Overlay

			.col-sm-3
				a.tmb(href="navbar-overlay-light.html" target="_blank")
					img(src="images/light.svg")
					span Overlay light







	.h-200px
	//- ********************************************************************************
	//- LAYOUT
	//- ********************************************************************************
	.h3.text-center.mb-5 Layout

	.container
		.row.pb-3
			.col-sm-3
				a.tmb(href="navbar-right.html" target="_blank")
					img(src="images/menu-right.svg")
					span Menu right
			
			.col-sm-3
				a.tmb(href="navbar-left.html" target="_blank")
					img(src="images/menu-left.svg")
					span Menu left
			
			.col-sm-3
				a.tmb(href="brand-centered.html" target="_blank")
					img(src="images/brand-at-center.svg")
					span Brand at center
			
			.col-sm-3
				a.tmb(href="brand-centered-between.html" target="_blank")
					img(src="images/brand-at-center-2.svg")
					span Brand at center 2


		.row
			.col-sm-3
				a.tmb(href="brand-top.html" target="_blank")
					img(src="images/brand-top.svg")
					span Brand top
		








	.h-200px
	//- ********************************************************************************
	//- DROPDOWN
	//- ********************************************************************************
	.h3.text-center.mb-5 Dropdown

	.container
		.row.pb-3
			.col-sm-3
				a.tmb(href="submenu-dropdown.html" target="_blank")
					img(src="images/menu-right.svg")
					span Dropdown
			
			.col-sm-3
				a.tmb(href="megamenu.html" target="_blank")
					img(src="images/menu-left.svg")
					span Mega Menu
			
			.col-sm-3
				a.tmb(href="submenu-horizontal.html" target="_blank")
					img(src="images/brand-at-center.svg")
					span Horizontal Submenu
			
			.col-sm-3
				a.tmb(href="submenu-fade.html" target="_blank")
					img(src="images/brand-at-center-2.svg")
					span Fade
		

		.row
			.col-sm-3
				a.tmb(href="submenu-fadeup.html" target="_blank")
					img(src="images/menu-right.svg")
					span Fade Up
			
			.col-sm-3
				a.tmb(href="submenu-pop.html" target="_blank")
					img(src="images/menu-left.svg")
					span Pop
			
			.col-sm-3
				a.tmb(href="submenu-zoom.html" target="_blank")
					img(src="images/brand-at-center.svg")
					span Zoom







	.h-200px
	//- ********************************************************************************
	//- SIDEBAR
	//- ********************************************************************************
	.h3.text-center.mb-5 Sidebar

	.container
		.row.pb-3
			.col-sm-3
				a.tmb(href="sidebar.html" target="_blank")
					img(src="images/sidebar.svg")
					span Sidebar
			
			.col-sm-3
				a.tmb(href="sidebar-right.html" target="_blank")
					img(src="images/sidebar-right.svg")
					span Right sidebar
			
			.col-sm-3
				a.tmb(href="sidebar-levels.html" target="_blank")
					img(src="images/sidebar-levels.svg")
					span Sidebar levels

			.col-sm-3
				a.tmb(href="sidebar-levels-right.html" target="_blank")
					img(src="images/sidebar-right-levels.svg")
					span Right sidebar levels
		

		.row
			.col-sm-3
				a.tmb(href="sidebar-condensed.html" target="_blank")
					img(src="images/sidebar-condensed.svg")
					span Condensed sidebar
			
			.col-sm-3
				a.tmb(href="sidebar-condensed-right.html" target="_blank")
					img(src="images/sidebar-condensed-right.svg")
					span Condensed right sidebar








	.h-200px
	//- ********************************************************************************
	//- FIXED NAVBAR
	//- ********************************************************************************
	.h3.text-center.mb-5 Fixed navbar

	.container
		.row.pb-3.justify-content-center
			.col-sm-3
				a.tmb(href="sticky.html" target="_blank")
					img(src="images/sticky.svg")
					span Sticky
				
			.col-sm-3
				a.tmb(href="sticky-slide.html" target="_blank")
					img(src="images/sticky-slide.svg")
					span Sticky slide

			.col-sm-3
				a.tmb(href="sticky-fade.html" target="_blank")
					img(src="images/sticky-fade.svg")
					span Sticky fade









	.h-200px
	//- ********************************************************************************
	//- SCROLLSPY
	//- ********************************************************************************
	.h3.text-center.mb-5 Scrollspy

	.container
		.row.pb-3.justify-content-center
			.col-sm-3
				a.tmb(href="scrollspy.html" target="_blank")
					img(src="images/scrollspy.svg")
					span Scrollspy navbar








	.h-200px
	//- ********************************************************************************
	//- ITEMS
	//- ********************************************************************************
	.h3.text-center.mb-5 Navbar items

	.container
		.row.pb-3.justify-content-center
			.col-sm-4
				a.tmb(href="active-items.html" target="_blank")
					img(src="images/navbar-items.svg")
					span Items







	.h-200px
	//- ********************************************************************************
	//- TOGGLER BUTTONS
	//- ********************************************************************************
	.h3.text-center.mb-5 Toggler buttons

	.container
		.row.pb-3.justify-content-center
			.col-sm-2.text-center
				button.navbar-toggler.toggler-spin.mb-3
					span.navbar-toggler-icon
				p toggler-spin

			.col-sm-2.text-center
				button.navbar-toggler.toggler-elastic.mb-3
					span.navbar-toggler-icon
				p toggler-elastic

			.col-sm-2.text-center
				button.navbar-toggler.toggler-spring.mb-3
					span.navbar-toggler-icon
				p toggler-spring

		






	.h-200px
	footer.main-footer
		.container
			.row
				.col-sm-4.offset-4
					h5 Credits
					ul.list-unstyled
						li: a(href="http://getbootstrap.com/") Bootsttrap 4
						li: a(href="https://github.com/icons8/line-awesome") Line Awesome
						li: a(href="https://code.jquery.com/jquery/") jQuery
						li: a(href="https://picsum.photos/") Lorem Picsum