extends templates/_template.pug

block content
	.jumbotron.jumbotron-fluid.bg-info.text-white
		.container.text-center
			h1.display-4 bsnav
			p.lead Bootstrap navbar with esteroids


	.container

		h4 Styles

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-right.html" target="_blank")
					.card-body
						.card-text Navbar default
						small.card-text The default clear style for navbars

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-dark.html" target="_blank")
					.card-body
						.card-text Navbar dark
						small.card-text Dark background navbar

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-transparent.html" target="_blank")
					.card-body
						.card-text Navbar transparent
						small.card-text Transparent navbar, perfect to use over images

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-light.html" target="_blank")
					.card-body
						.card-text Navbar light
						small.card-text Transparent navbar with white items

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-overlay.html" target="_blank")
					.card-body
						.card-text Navbar overlay
						small.card-text Navbar with overlay background

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-overlay-light.html" target="_blank")
					.card-body
						.card-text Navbar overlay light
						small.card-text Navbar with overlay background with white items







		h4 Layout

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-right.html" target="_blank")
					.card-body
						.card-text Navbar menu right
						small.card-text Navbar with menu at right

			.col-md-4.col-sm-6.mb-3
				a.card(href="navbar-left.html" target="_blank")
					.card-body
						.card-text Navbar menu left
						small.card-text Navbar with menu at left

			.col-md-4.col-sm-6.mb-3
				a.card(href="brand-centered.html" target="_blank")
					.card-body
						.card-text Brand at center
						small.card-text Navbar with the brand at the center
		
			.col-md-4.col-sm-6.mb-3
				a.card(href="brand-centered-between.html" target="_blank")
					.card-body
						.card-text Brand at center 2
						small.card-text Center the brand and align each navbar to sides

			.col-md-4.col-sm-6.mb-3
				a.card(href="brand-top.html" target="_blank")
					.card-body
						.card-text Brand top
						small.card-text Brand above navbar






		h4 Dropdown

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-dropdown.html" target="_blank")
					.card-body
						.card-text Dropdown

			.col-md-4.col-sm-6.mb-3
				a.card(href="megamenu.html" target="_blank")
					.card-body
						.card-text Mega Menu
			
			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-horizontal.html" target="_blank")
					.card-body
						.card-text Submenu horizontal

			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-fade.html" target="_blank")
					.card-body
						.card-text Fade
						//- small.card-text Navbar with menu at right

			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-fadeup.html" target="_blank")
					.card-body
						.card-text Fade up

			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-pop.html" target="_blank")
					.card-body
						.card-text Pop

			.col-md-4.col-sm-6.mb-3
				a.card(href="submenu-zoom.html" target="_blank")
					.card-body
						.card-text Zoom
			





		h4 Sidebar

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar.html" target="_blank")
					.card-body
						.card-text Sidebar
						small.card-text A simple sidebar menu example
			
			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar-right.html" target="_blank")
					.card-body
						.card-text Sidebar right
						small.card-text Option with right sidebar

			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar-levels.html" target="_blank")
					.card-body
						.card-text Sidebar levels
						small.card-text Sidebar with nested sub-menus
			
			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar-levels-right.html" target="_blank")
					.card-body
						.card-text Sidebar right levels
						small.card-text Sidebar with nested sub-menus

			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar-condensed.html" target="_blank")
					.card-body
						.card-text Sidebar condensed
						small.card-text Shown an icons list and animate the sidebar on mouse over
			
			.col-md-4.col-sm-6.mb-3
				a.card(href="sidebar-condensed-right.html" target="_blank")
					.card-body
						.card-text Sidebar condensed right
						small.card-text With the condensed sidebar at the right




		h4 Fixed navbar

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="sticky.html" target="_blank")
					.card-body
						.card-text Sticky
						small.card-text Stick navbar to the top of the page without any effect, only sticked

			.col-md-4.col-sm-6.mb-3
				a.card(href="sticky-slide.html" target="_blank")
					.card-body
						.card-text Sticky slide
						small.card-text Stick navbar to the top of the page with a slide effect

			.col-md-4.col-sm-6.mb-3
				a.card(href="sticky-fade.html" target="_blank")
					.card-body
						.card-text Sticky fade
						small.card-text Stick navbar to the top of the page with a fade effect
		



		h4 Scrollspy

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="scrollspy.html" target="_blank")
					.card-body
						.card-text Scrollspy navbar

			.col-md-4.col-sm-6.mb-3
				a.card(href="scrollspy-sidebar.html" target="_blank")
					.card-body
						.card-text Scrollspy sidebar
		



		h4 Navbar items

		.row.mb-5
			.col-md-4.col-sm-6.mb-3
				a.card(href="active-items.html" target="_blank")
					.card-body
						.card-text Active items
						small.card-text Different styles options for navbar items




		h4 Toggler buttons
		p.mb-5 Animated toggler buttons

		.row.mb-3
			.col-sm-2.text-center
				button.navbar-toggler.toggler-spin.mb-3
					span.navbar-toggler-icon
				p toggler-spin

			.col-sm-2.text-center
				button.navbar-toggler.toggler-elastic.mb-3
					span.navbar-toggler-icon
				p toggler-elastic

			.col-sm-2.text-center
				button.navbar-toggler.toggler-spring.mb-3
					span.navbar-toggler-icon
				p toggler-spring









	.jumbotron.jumbotron-fluid.bg-white
		.container
			p: strong Credits
			p.
				Framework: #[a(href="http://getbootstrap.com/") Bootstrap v4] #[br]
				Icons: #[a(href="https://github.com/icons8/line-awesome") Line Awesome] #[br]
				Javascript: #[a(href="https://code.jquery.com/jquery/") jQuery], #[a(href="http://getbootstrap.com/") Bootstrap] #[br]