extends templates/_template.pug

block content
	.jumbotron.jumbotron-fluid.bg-info.text-white
		.container.text-center
			h1.display-4 bsnav
			p.lead Bootstrap navbar with esteroids


	.container

		h4 Styles

		.row.mb-3
			.col-sm-4
				a.card(href="navbar-right.html" target="_blank")
					.card-body
						.card-text Navbar default
						small.card-text The default clear style for navbars

			.col-sm-4
				a.card(href="navbar-dark.html" target="_blank")
					.card-body
						.card-text Navbar dark
						small.card-text Dark background navbar

			.col-sm-4
				a.card(href="navbar-transparent.html" target="_blank")
					.card-body
						.card-text Navbar transparent
						small.card-text Transparent navbar, perfect to use over images


		.row.mb-5
			.col-sm-4
				a.card(href="navbar-light.html" target="_blank")
					.card-body
						.card-text Navbar light
						small.card-text Transparent navbar with white items

			.col-sm-4
				a.card(href="navbar-overlay.html" target="_blank")
					.card-body
						.card-text Navbar overlay
						small.card-text Navbar with overlay background

			.col-sm-4
				a.card(href="navbar-overlay-light.html" target="_blank")
					.card-body
						.card-text Navbar overlay light
						small.card-text Navbar with overlay background with white items




		h4 Layout

		.row.mb-3
			.col-sm-4
				a.card(href="navbar-right.html" target="_blank")
					.card-body
						.card-text Navbar menu right
						small.card-text Navbar with menu at right

			.col-sm-4
				a.card(href="navbar-left.html" target="_blank")
					.card-body
						.card-text Navbar menu left
						small.card-text Navbar with menu at left

			.col-sm-4
				a.card(href="brand-centered.html" target="_blank")
					.card-body
						.card-text Brand at center
						small.card-text Navbar with the brand at the center
		

		.row.mb-3
			.col-sm-4
				a.card(href="brand-centered-between.html" target="_blank")
					.card-body
						.card-text Brand at center 2
						small.card-text Center the brand and align each navbar to sides

			.col-sm-4
				a.card(href="brand-top.html" target="_blank")
					.card-body
						.card-text Brand top
						small.card-text Brand above navbar







	.jumbotron.jumbotron-fluid.bg-white
		.container
			p: strong Credits
			p.
				Framework: #[a(href="http://getbootstrap.com/") Bootstrap v4] #[br]
				Icons: #[a(href="https://github.com/icons8/line-awesome") Line Awesome] #[br]
				Javascript: #[a(href="https://code.jquery.com/jquery/") jQuery], #[a(href="http://getbootstrap.com/") Bootstrap] #[br]