extends templates/_template.pug

block content
	.navbar.navbar-expand-sm.bsnav

		a.navbar-brand(href="#") bsnav

		button.navbar-toggler.toggler-spring
			span.navbar-toggler-icon


		.collapse.navbar-collapse.justify-content-sm-end
			ul.navbar-nav.navbar-mobile.mr-0
				li.nav-item.active
					a.nav-link(href="#") Home
				li.nav-item.dropdown.megamenu
					a.nav-link(href="#") Megamenu #[i.caret]

					.navbar-nav
						.container
							h4.mb-4 Megamenu grid

							.row.mb-3
								.col-sm-3
									ul.navbar-nav
										li.nav-item: strong Shoes
										li.nav-item: a.nav-link(href="#") Originals
										li.nav-item: a.nav-link(href="#") Soccer
										li.nav-item: a.nav-link(href="#") Rinning
										li.nav-item: a.nav-link(href="#") Basketball
										li.nav-item: a.nav-link(href="#") Training
										li.nav-item: a.nav-link(href="#") Outdoor
										li.nav-item: a.nav-link(href="#") Football
										li.nav-item: a.nav-link(href="#") Baseball
										li.nav-item: a.nav-link(href="#") Tennis
										li.nav-item: a.nav-link(href="#") Sandals & Slides
										li.nav-item: a.nav-link(href="#") NEO


								.col-sm-3
									ul.navbar-nav
										li.nav-item: strong Apparel
										li.nav-item: a.nav-link(href="#") Jackets
										li.nav-item: a.nav-link(href="#") Hoodies & Sweatshirts
										li.nav-item: a.nav-link(href="#") Track Suits & Warm Ups
										li.nav-item: a.nav-link(href="#") Long Sleeve Tops
										li.nav-item: a.nav-link(href="#") Short Sleeve Tops
										li.nav-item: a.nav-link(href="#") Graphic Tees
										li.nav-item: a.nav-link(href="#") Sleeveless Tops
										li.nav-item: a.nav-link(href="#") Jerseys
										li.nav-item: a.nav-link(href="#") Pants
										li.nav-item: a.nav-link(href="#") Tights
										li.nav-item: a.nav-link(href="#") Shorts


								.col-sm-3
									ul.navbar-nav
										li.nav-item: strong Accessories
										li.nav-item: a.nav-link(href="#") Bags
										li.nav-item: a.nav-link(href="#") Balls
										li.nav-item: a.nav-link(href="#") Sunglasses
										li.nav-item: a.nav-link(href="#") Watches
										li.nav-item: a.nav-link(href="#") Gloves
										li.nav-item: a.nav-link(href="#") Hats
										li.nav-item: a.nav-link(href="#") Socks
										li.nav-item: a.nav-link(href="#") Underwear
										li.nav-item: a.nav-link(href="#") Scarves


								.col-sm-3
									ul.navbar-nav
										li.nav-item: strong Sports
										li.nav-item: a.nav-link(href="#") Soccer
										li.nav-item: a.nav-link(href="#") Running
										li.nav-item: a.nav-link(href="#") Basketball
										li.nav-item: a.nav-link(href="#") Training
										li.nav-item: a.nav-link(href="#") Football
										li.nav-item: a.nav-link(href="#") Baseball
										li.nav-item: a.nav-link(href="#") Tennis
										li.nav-item: a.nav-link(href="#") Outdoor
										li.nav-item: a.nav-link(href="#") Weightlifting
										li.nav-item: a.nav-link(href="#") Skateboarding
										li.nav-item: a.nav-link(href="#") Snowboarding
										li.nav-item: a.nav-link(href="#") Lacrosse



				li.nav-item.dropdown.megamenu
					a.nav-link(href="#") Grid #[i.caret]

					.navbar-nav
						.container
							h4.mb-4 Megamenu grid

							.row.mb-3
								.col-sm-3: .span col 3
								.col-sm-3: .span col 3
								.col-sm-3: .span col 3
								.col-sm-3: .span col 3
							.row.mb-3
								.col-sm-4: .span col 4
								.col-sm-4: .span col 4
								.col-sm-4: .span col 4
							.row.mb-3
								.col-sm-6: .span col 6
								.col-sm-6: .span col 6



				li.nav-item
					a.nav-link(href="#") News
				li.nav-item
					a.nav-link(href="#") Gallery
				li.nav-item
					a.nav-link(href="#") Contact


	.jumbotron.jumbotron-fluid
		.container
			h1 Mega Menu
	

	.container
		script(src="https://gitlab.com/snippets/1719741.js")
	


	//- .bsnav-mobile
	//- 	.bsnav-mobile-overlay
	//- 	.navbar


	style.
		.jumbotron{
			background: url('https://picsum.photos/1400/700?random') no-repeat center top / cover;
			color: #fff;
			height: 600px;
			display: flex;
			align-items: center;
		}