extends templates/_template.pug

block content
	.navbar.navbar-expand-sm.bsnav.bsnav-sticky.bsnav-scrollspy

		a.navbar-brand(href="#") bsnav

		button.navbar-toggler.toggler-spring
			span.navbar-toggler-icon


		.collapse.navbar-collapse.justify-content-sm-end
			ul.navbar-nav.navbar-mobile.mr-0
				li.nav-item
					a.nav-link(href="#" data-scrollspy="section1") Section 1
				li.nav-item
					a.nav-link(href="#" data-scrollspy="section2") Section 2
				li.nav-item
					a.nav-link(href="#" data-scrollspy="section3") Section 3
				li.nav-item
					a.nav-link(href="#" data-scrollspy="section4") Section 4


	.jumbotron.jumbotron-fluid.mb-0
		.container
			h1 Scrollspy
	
	
	.bsnav-body-wrapper
		section#section1.scrollspy-demo
			.container
				.row
					.col-sm-6
						.h4 Section 1
						p As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.
						p The dreams of yesterday are the hopes of today and the reality of tomorrow.


		section#section2.scrollspy-demo
			.container
				.row
					.col-sm-6
						.h4 Section 2
						p Where ignorance lurks, so too do the frontiers of discovery and imagination.
						p For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.


		section#section3.scrollspy-demo
			.container
				.row
					.col-sm-6
						.h4 Section 3
						p Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.
						p As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.


		section#section4.scrollspy-demo
			.container
				.row
					.col-sm-6
						.h4.mb-5 Section 4

				script(src="https://gitlab.com/snippets/1829419.js")
	


	.bsnav-mobile
		.bsnav-mobile-overlay
		.navbar


	style.
		.jumbotron{
			background: url('https://picsum.photos/1400/700?random') no-repeat center top / cover;
			color: #fff;
			height: 600px;
			display: flex;
			align-items: center;
		}