extends templates/_template.pug

block content
	.navbar.navbar-expand-sm.bsnav.bsnav-sidebar.bsnav-sidebar-right

		a.navbar-brand(href="#") bsnav

		button.navbar-toggler.toggler-spring
			span.navbar-toggler-icon


		.collapse.navbar-collapse.justify-content-sm-center
			ul.navbar-nav.navbar-mobile.mr-0
				li.nav-item.active
					a.nav-link(href="#") Home
				li.nav-item
					a.nav-link(href="#") About Us
				li.nav-item
					a.nav-link(href="#") News
				li.nav-item
					a.nav-link(href="#") Gallery
				li.nav-item
					a.nav-link(href="#") Contact



	.bsnav-body-wrapper
		.jumbotron.jumbotron-fluid
			.container
				h1 Sidebar
		

		.container
			script(src="https://gitlab.com/snippets/1829400.js")



	.bsnav-mobile
		.bsnav-mobile-overlay
		.navbar


	style.
		.jumbotron{
			background: url('https://picsum.photos/1400/700?random') no-repeat center top / cover;
			color: #fff;
			height: 600px;
			display: flex;
			align-items: center;
		}