extends templates/_template.pug

block content
	.navbar.navbar-expand-lg.bsnav.bsnav-transparent

		a.navbar-brand(href="#") bsnav

		button.navbar-toggler.toggler-spring
			span.navbar-toggler-icon


		.collapse.navbar-collapse.justify-content-md-end
			ul.navbar-nav.navbar-mobile.mr-0
				li.nav-item.active
					a.nav-link(href="#") Home
				
				li.nav-item.dropdown
					a.nav-link(href="#") Has children! #[i.caret]

					ul.navbar-nav
						li.nav-item
							a.nav-link(href="#") Action
						li.nav-item
							a.nav-link(href="#") Levels #[i.caret]

							ul.navbar-nav
								li.nav-item
									a.nav-link(href="#") Action
								li.nav-item
									a.nav-link(href="#") Levels #[i.caret]

									ul.navbar-nav
										li.nav-item
											a.nav-link(href="#") Action
										li.nav-item
											a.nav-link(href="#") Other action

								li.nav-item
									a.nav-link(href="#") Other action

						li.nav-item
							a.nav-link(href="#") Other action


				li.nav-item.dropdown
					a.nav-link(href="#") Styles #[i.caret]

					ul.navbar-nav
						li.nav-item
							a.nav-link(href="submenu-dropdown.html") Default
						li.nav-item
							a.nav-link(href="submenu-dropdown-dark.html") Dark
						li.nav-item
							a.nav-link(href="submenu-dropdown-transparent.html") Transparent
						li.nav-item
							a.nav-link(href="submenu-dropdown-light.html") Light
						li.nav-item
							a.nav-link(href="submenu-dropdown-overlay.html") Overlay
						li.nav-item
							a.nav-link(href="submenu-dropdown-overlay-light.html") Overlay Light


				li.nav-item
					a.nav-link(href="#") News
				li.nav-item
					a.nav-link(href="#") Gallery
				li.nav-item
					a.nav-link(href="#") Contact


				li.nav-item.dropdown.dropdown-right
					a.nav-link(href="#") Submenu at right #[i.caret]

					ul.navbar-nav
						li.nav-item
							a.nav-link(href="#") Action
						li.nav-item
							a.nav-link(href="#") #[i.caret] Levels

							ul.navbar-nav
								li.nav-item
									a.nav-link(href="#") Action
								li.nav-item
									a.nav-link(href="#") #[i.caret] Levels

									ul.navbar-nav
										li.nav-item
											a.nav-link(href="#") Action
										li.nav-item
											a.nav-link(href="#") Other action

								li.nav-item
									a.nav-link(href="#") Other action

						li.nav-item
							a.nav-link(href="#") Other action


	.jumbotron.jumbotron-fluid
		.container
			h1 Submenu dropdown


	.container
		script(src="https://gitlab.com/snippets/1718751.js")


	.bsnav-mobile
		.bsnav-mobile-overlay
		.navbar


	style.
		.jumbotron{
			background: url('https://picsum.photos/1400/700?random') no-repeat center top / cover;
			height: 600px;
			display: flex;
			align-items: center;
		}