body{
	color: #666;
}

*, *:focus{
	outline: none !important;
}


a.card{
	color: #666;

	&:hover, &:active, &:focus, &:active:focus{
		text-decoration: none;
	}

	small.card-text{
		color: lighten(#999, 10%);
		line-height: 1.2;
		display: block;
	}
}//.card



.bsnav-body-wrapper{
	padding-bottom: 100px;
}


.navbar-brand{
	background: url('images/brand.png') no-repeat center / cover;
	font-size: 0;
	width: 110px;
	height: 28px;
	margin: 18px 15px 18px 0;
	opacity: .6;
}//navbar-brand


.bsnav-brand-top .navbar-brand{
	margin-top: 5px;
	margin-bottom: 5px;
}



.bsnav-light .navbar-brand,
.bsnav-overlay .navbar-brand,
.bsnav-overlay-light .navbar-brand{
	opacity: 0.8;
}


.bsnav-dark .navbar-brand,
.bsnav-light .navbar-brand,
.bsnav-overlay .navbar-brand{
	background: url('images/brand-white.png') no-repeat center / cover;
}//navbar-brand


.span{
	background: #eeeeee;
	color: #999;
	font-size: .9rem;
	font-weight: 500;
	line-height: 1;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
}//span


.bsnav-sticky{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}


.scrollspy-demo{
	height: 100vh;
	min-height: 600px;
	display: flex;
	align-items: center;

	&:nth-child(odd){
		background: #f7f7f7;
	}
}
