/*------------------------------------------------------------*/
/*	NAVBAR DARK
/*------------------------------------------------------------*/
.bsnav-dark{
	background: #000;


	.navbar-nav .nav-item{
		color: #fff;
	}//nav-item

	
	.navbar-toggler .navbar-toggler-icon{
		&,
		&::before,
		&::after{
			background-color: #fff;
		}
	}//.navbar-toggler

}//bsnav