/*------------------------------------------------------------*/
/*	NAVBAR LIGHT
/*------------------------------------------------------------*/
.bsnav-light{
	background: transparent;
	left: 0;
	right: 0;
	position: absolute;


	.navbar-nav .nav-item{
		color: #fff;
	}//nav-item


	.navbar-toggler .navbar-toggler-icon{
		&,
		&::before,
		&::after{
			background-color: #fff;
		}
	}//.navbar-toggler

}//bsnav-light