/*------------------------------------------------------------*/
/*	NAVBAR LIGHT
/*------------------------------------------------------------*/
.bsnav-light{
	background: transparent;
	left: 0;
	right: 0;
	position: absolute;
}//bsnav-light