/*------------------------------------------------------------*/
/*	NAVBAR TRANSPARENT
/*------------------------------------------------------------*/
.bsnav-transparent{
	background: transparent;
	left: 0;
	right: 0;
	position: absolute;
}//bsnav-transparent