/*------------------------------------------------------------*/
/*	NAVBAR CENTER BRAND
/*	Navigation menu with brand center
/*------------------------------------------------------------*/
.bsnav-brand-center,
.bsnav-brand-center-between{

	.navbar-brand{
		margin: 0;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}//navbar-brand


	&:not(.bsnav-brand-center-between) .navbar-nav{
		flex: 1 0 50%;
	}


	.navbar-nav{

		&:first-child{
			padding-right: 100px;
			justify-content: flex-end;
		}//:first-child

		&:last-child{
			padding-left: 100px;
		}//:first-child

	}//navbar-nav

}//bsnav-brand-center