/*------------------------------------------------------------*/
/*	CARET
/*------------------------------------------------------------*/
.nav-item .caret{
	width: 0;
	height: 0;
	margin-left: 5px;
	border: none;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	border-top: solid 6px #444;
	vertical-align: middle;
	display: inline-block;
}//caret



.nav-item.dropdown{

	.navbar-nav .nav-link .caret{
		border: none;
		border-top: solid 5px transparent;
		border-bottom: solid 5px transparent;
		border-left: solid 6px #444;
	}//caret


	&.dropdown-right .navbar-nav .nav-link .caret{
		border: none;
		border-top: solid 5px transparent;
		border-bottom: solid 5px transparent;
		border-right: solid 6px #444;
		margin-left: 0;
		margin-right: 5px;
	}//caret at right

}//nav-item.dropdown