/*---------------------------------------------------------*/
/*	NAV ITEM
/*---------------------------------------------------------*/
.navbar-nav .nav-item,
.navbar .nav-justified .nav-item{
	font-family: $nav-item-font;
	font-size: $nav-item-font-size;
	font-weight: $nav-item-font-weight;
	// Font smoothing
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}//nav-item