/*------------------------------------------------------------*/
/*	DROPDOWN
/*------------------------------------------------------------*/
.nav-item.dropdown > .nav-subnavbar{
	min-width: $subnavbar-min-width;
	position: absolute;
	// transition: $subnavbar-transition $subnavbar-transition-timing-function;
	display: none;
	// pointer-events: none;
	// clip: rect(0, $subnavbar-clip, $subnavbar-clip, -$subnavbar-clip);


	.nav-item{
		background: $subnavbar-bg;
		transition: $subnavbar-transition $subnavbar-transition-timing-function;
		// transform: translateY($subnavbar-translate-y);


		.nav-link{
			padding: $subnavbar-spacer-y $subnavbar-spacer-x;
		}//nav-link

		.nav-link:hover,
		.nav-link:active,
		.nav-link:focus{
			background: $subnavbar-hover-bg;
		}//hover


		strong.nav-link{
			font-weight: 700;
		}//strong.nav-link


	}//nav-item

}//nav-subnavbar



.nav-item.dropdown:hover{

	> .nav-subnavbar{
		pointer-events: all;

		.nav-item{
			transform: translateY(0);
		}//nav-item

	}//nav-subnavbar

}//dropdown










/*------------------------------------------------------------*/
/*	POP
/*------------------------------------------------------------*/
.nav-item.dropdown.pop{

	.nav-subnavbar{
		display: none;

		&.in{ display: block; }

		.nav-item{
			transform: translateY(0);
		}//nav-item
	}//nav-subnavbar

}//dropdown.pop



.nav-item.dropdown.pop:hover{

	.nav-subnavbar{
		display: block;

		.nav-item{

		}//nav-item

	}//nav-subnavbar

}//dropdown









/*------------------------------------------------------------*/
/*	FADE
/*------------------------------------------------------------*/
.nav-item.dropdown.fade{
	opacity: 1;

	.nav-subnavbar{
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: $subnavbar-transition ease-in-out;
		pointer-events: none;

		&.in{
			opacity: 1;
			visibility: visible;
			pointer-events: initial;
		}

		.nav-item{
			transform: translateY(0);
		}//nav-item
	}//nav-subnavbar

}//dropdown.fade



.nav-item.dropdown.fade:hover{

	.nav-subnavbar{
		opacity: 1;
		visibility: visible;

		.nav-item{
			transform: translateY(0);
		}//nav-item

	}//nav-subnavbar

}//dropdown









/*------------------------------------------------------------*/
/*	FADE UP
/*------------------------------------------------------------*/
.nav-item.dropdown.fade-up{
	opacity: 1;

	.nav-subnavbar{
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: $subnavbar-transition/1.5 ease-in-out;
		transform: translateY(50px);
		pointer-events: none;


		&.in{
			opacity: 1;
			visibility: visible;
			pointer-events: initial;
		}

		.nav-item{
			transform: translateY(0);
		}//nav-item
	}//nav-subnavbar

}//dropdown.fade-up



.nav-item.dropdown.fade-up:hover{

	.nav-subnavbar{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);

		.nav-item{
			transform: translateY(0);
		}//nav-item

	}//nav-subnavbar

}//dropdown









/*------------------------------------------------------------*/
/*	ZOOM
/*------------------------------------------------------------*/
.nav-item.dropdown.zoom{

	.nav-subnavbar{
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: $subnavbar-transition ease-in-out;
		transform: scale($subnavbar-scale);
		pointer-events: none;


		&.in{
			opacity: 1;
			visibility: visible;
			pointer-events: initial;
		}


		.nav-item{
			transform: translateY(0);
		}//nav-item
	}//nav-subnavbar

}//dropdown.zoom



.nav-item.dropdown.zoom:hover{

	.nav-subnavbar{
		opacity: 1;
		visibility: visible;
		transform: scale(1);

		.nav-item{
			transform: translateY(0);
		}//nav-item

	}//nav-subnavbar

}//dropdown









/*------------------------------------------------------------*/
/*	RIGHT ALIGN
/*------------------------------------------------------------*/
.nav-item.dropdown > .nav-subnavbar.align-right{
	right: 0;

	.nav-item{

	}//nav-item

}//align-right









/*------------------------------------------------------------*/
/*	SUB NAVBAR LEVELS
/*------------------------------------------------------------*/
.nav-item.dropdown .nav-subnavbar .nav-subnavbar{
	min-width: $subnavbar-min-width;
	left: 100%;
	top: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: $subnavbar-transition;
}//.nav-subnavbar .nav-subnavbar


.nav-item.dropdown .nav-subnavbar .nav-item:hover > .nav-subnavbar{
	visibility: visible;
	opacity: 1;
}



// Right aligned
.nav-item.dropdown .nav-subnavbar.align-right .nav-subnavbar{
	left: auto;
	right: 100%;
}






/*------------------------------------------------------------*/
/*	DROPDOWN HORIZONTAL
/*------------------------------------------------------------*/
.nav-item.dropdown.dropdown-horizontal{
	position: initial;

	> .nav-subnavbar{
		background: $navbar-default-bg;
		border-top: solid 1px #ddd;
		width: 100%;
		left: 0;
		transition: $subnavbar-transition $subnavbar-transition-timing-function $subnavbar-transition-delay;
		opacity: 0;
		// transform: translateY(-600%);

		.nav-item{
			float: left;
			transform: translateY(0);
		}

	}// nav-subnavbar



	&:hover{

		> .nav-subnavbar{
			opacity: 1;
		}// nav-subnavbar

	}//:hover

}//dropdown-horizontal







/*------------------------------------------------------------*/
/*	CARET
/*------------------------------------------------------------*/
.nav-link .caret{
	width: 7px;
	height: 7px;
	margin-left: 10px;
	margin-top: -7px;
	border: none;
	border-right: solid 2px #999;
	border-bottom: solid 2px #999;
	transform: rotate(45deg);
}//caret


.navbar-light .nav-link .caret{
	border-color: #fff;
}



.nav-item.dropdown{

	& > .nav-subnavbar{

		.nav-link .caret{
			margin-top: 4px;
			float: right;
			transform: rotate(-45deg);
		}//caret


		&.align-right{
			.nav-item .caret{
				margin-left: 0;
				margin-right: 10px;
				float: left;
				transform: rotate(135deg);
			}//caret
		}//align-right

	}// > nav-subnavbar

}//nav-item.dropdown








