.bsnav-sidebar{
	height: 100vh;
	padding: 0;
	top: 0;
	position: fixed;
	flex-direction: column;
	overflow: hidden;


	.navbar-brand{
		margin-left: 0;
		margin-right: 0;
	}//navbar-brand


	.navbar-nav{
		width: 100%;
		padding-left: 45px;
		padding-right: 25px;
		flex-direction: column;
		right: 0;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: .5s;
		transform: translate3d(100px,0,0);


		.nav-item{

			.nav-link{
				padding: 5px 0;
			}//nav-link

		}//nav-item



		&.out,
		&.active.out{
			opacity: 0;
			visibility: hidden;
			transform: translate3d(-200%,0,0);
		}//out

		&.active{
			opacity: 1;
			visibility: visible;
			transform: translate3d(0,0,0);
		}//in.active


		.nav-previous{
			border-right: solid 1px #ddd;
			text-align: center;
			width: 45px;
			height: 100%;
			left: 0;
			position: absolute;
			
			&::after{
				content: '';
				border-top: solid 6px transparent;
				border-bottom: solid 6px transparent;
				border-right: solid 8px #444;
				display: inline-block;
				width: 0;
				height: 0;
			}//::after
		}//nav-previous

	}//navbar-nav


	.navbar-collapse{
		width: 280px;
	}//navbar-collapse


	.justify-content-sm-end .navbar-nav{
		text-align: right;
	}//navbar-nav

	.justify-content-sm-center .navbar-nav{
		text-align: center;
	}//navbar-nav


	.nav-item .caret{
		border-top-width: 4px;
		border-top-color: transparent;
		border-bottom: solid 4px transparent;
		border-left-width: 5px;
		border-left-color: #444;
		border-right-width: 0;
		margin-right: -15px;
	}//caret

}//bsnav-sidebar






.bsnav-body-wrapper{

	&.bsnav-sidebar-left{
		padding-left: 280px;

		.bsnav-sidebar{
			left: 0;
		}
	}//bsnav-sidebar-left

	&.bsnav-sidebar-right{
		padding-right: 280px;

		.bsnav-sidebar{
			right: 0;
		}
	}//bsnav-sidebar-right

}//bsnav-body-wrapper





@mixin sidebar-brand{
	width: calc(100% - 10px);
	background-size: contain;
	margin-left: 5px;
	margin-right: 5px;
}//sidebar-brand



@media (max-width: 576px) {

	.navbar-expand-sm.bsnav-sidebar{
		width: 70px;
		justify-content: flex-start;


		.bsnav-body-wrapper.bsnav-sidebar-left{ width: 70px; }

		& + .bsnav-body-wrapper.bsnav-sidebar-left{ padding-left: 70px; }
		& + .bsnav-body-wrapper.bsnav-sidebar-right{ padding-right: 70px; }

		.navbar-brand{ @include sidebar-brand; }

		.navbar-toggler{ flex: auto 0 0; }

	}//bsnav-sidebar

}




@media (max-width: 768px) {

	.navbar-expand-md.bsnav-sidebar{
		width: 70px;
		justify-content: flex-start;

		.bsnav-body-wrapper.bsnav-sidebar-left{ width: 70px; }

		& + .bsnav-body-wrapper.bsnav-sidebar-left{ padding-left: 70px; }
		& + .bsnav-body-wrapper.bsnav-sidebar-right{ padding-right: 70px; }

		.navbar-brand{ @include sidebar-brand; }

		.navbar-toggler{ flex: auto 0 0; }

	}//bsnav-sidebar

}




@media (max-width: 992px) {

	.navbar-expand-lg.bsnav-sidebar{
		width: 70px;
		justify-content: flex-start;

		.bsnav-body-wrapper.bsnav-sidebar-left{ width: 70px; }

		& + .bsnav-body-wrapper.bsnav-sidebar-left{ padding-left: 70px; }
		& + .bsnav-body-wrapper.bsnav-sidebar-right{ padding-right: 70px; }

		.navbar-brand{ @include sidebar-brand; }

		.navbar-toggler{ flex: auto 0 0; }

	}//bsnav-sidebar

}