/*------------------------------------------------------------*/
/*	BSNAV
/*------------------------------------------------------------*/

// LINKHOVER
@mixin linkHover($params...){

  &:hover, &:hover:active, &:active, &:focus{

		@each $style in $params{
			$rule: nth($style,1);
			$val: nth($style,2);
			#{$rule}: $val;
		}

	}//:hover, :active, :focus

}




@import 'navbar-brand';
@import 'navbar-toggler';

.bsnav{
	background: #fff;
	z-index: 50;
}//bsnav

@import 'bg-dark';
@import 'bg-transparent';
@import 'bg-light';
@import 'bg-overlay';

@import 'nav-item';
@import 'nav-link';

@import 'brand-center';
@import 'brand-top';